.box {
    width: 600px;
    height: 250px;
    text-align: center;
    border: 2px black solid;
}

.title {
    font-size: 30px;
    margin-top: 10px;
    font-weight: bold;
    color: black;
}

.p {
    font-size: 20px;
    margin-top: 10px;
    color: black;
}

a .button{
    margin-top: 10px;
    font-size: 20px;
    width: 150px;
    background-color: cyan;
    border: 1px blue solid;
    margin-left: 225px;
    border-radius: 20px;
}