<div class="box">
    <div class="title">Titulo de ejemplo</div>
    <div class="p">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mi nunc, facilisis nec ullamcorper convallis, porta
        vel dui.
        Phasellus sollicitudin risus sed leo suscipit ullamcorper. Mauris tempus nulla nisl, ut sagittis ipsum efficitur
        et.
        Nunc placerat ornare metus nec malesuada. Nulla condimentum mattis finibus.
    </div>
    <a href="#">
        <div class="button">Click!
        </div>
    </a>
</div>